<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Travel_Expense_tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Travel_Expense_tracker.Properties.Settings.travelExpensesConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=travelExpenses;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Travel_Expense_tracker.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>Login Now</value>
            </setting>
            <setting name="phone" serializeAs="String">
                <value>Not Found</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>Not Found</value>
            </setting>
            <setting name="image" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Not Found</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>0</value>
            </setting>
        </Travel_Expense_tracker.Properties.Settings>
    </userSettings>
</configuration>